@import url('../fonts/lcd-bold.css');
html,body {
    overflow: hidden;
}
body {
    padding: 50px;
    padding-top: 100px;
    background-color: #000000;
}
.clock {
    font-size: 340px;
    font-family: lcdbold;
    text-shadow: 0.05em 0.05em 0em black;
    padding: 0.1em;
    position: relative;
}
.stopped{
    color: red;
}
.armed {
    color: yellow;
}
.started {
    color: lime;
}