.controls-container {
    position: absolute;
    width: 100%;
    display: flex;
    left: 0;
    bottom: 0;
    justify-content: center;
}

.controls.button {
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls.button i {
    font-size: 2em;
    margin-bottom: 0.1em;
}
