.controls-container {
    position: absolute;
    width: 100%;
    display: flex;
    left: 0;
    bottom: 0;
    justify-content: space-evenly;
}

.controls {
    height: 7rem;
    width: 10rem;
}

.controls .hover.text {
    margin-top: 0.5rem;
}