
@keyframes blink {  
    0% { opacity: 1; }
    100% { opacity: 0.1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0.1; }
}

.clock {
    user-select: none;
    font-size: 60vh;
    font-family: lcdbold, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ended{
    color: red;
}

.armed {
    color: yellow;
}

.prerunning {
    color: orange;
}

.running {
    color: lime;
}