<!doctype html>
<head>
    <meta charset="UTF-8">
    <script src="config.js"></script>
    <script src="dist/main.js"></script>
    <link rel="stylesheet" href="assets/css/Clock.css">

    <title>Clock Controls</title>
</head>
<body ng-app="Clock" ng-controller="ClockControlsCtrl" class="controls">
    <fieldset>
        <legend>Clock control</legend>
        <p>
            <label>Seconds:</label>
            <input type="text" ng-model="config.seconds">
        </p>
        <p>
            <button class="arm" ng-click="arm(config.seconds)">Arm (a)</button>
            <button class="start" ng-click="start()">Start (s)</button>
            <button class="stop" ng-click="stop()">Stop (x)</button>
            <button ng-click="pause()">Pause (space)</button>
            <button ng-click="mode()">Toggle tenths (t)</button>
        </p>
    </fieldset>
    <fieldset>
        <legend>Configuration</legend>
        <h3>MHub</h3>
        <p>
            <label>Host</label>
            <input ng-model="config.host">
        </p>
        <p>
            <label>Node</label>
            <input ng-model="config.node">
        </p>
        <h3>Background soundtracks</h3>
        <fieldset ng-repeat="track in config.tracks">
            <p>
                <label>Name</label>
                <input ng-model="track.name">
                <button class="delete" ng-click="config.tracks.splice(config.tracks.indexOf(track),1)">Delete</button>
            </p>
            <p>
                <label>Source</label>
                <input ng-model="track.source">
            </p>
            <p>
                <label>Start</label>
                <input ng-model="track.start">
            </p>
        </fieldset>
        <p>
            <button ng-click="config.tracks.push({})">New soundtrack</button>
        </p>
        <p>
            <button ng-click="update(config)">Update config</button>
        </p>
    </fieldset>
</body>