<!doctype html>
<script src="http://io.example.com:1390/socket.io/socket.io.js"></script>
<script src="js/audio5.js"></script>
<link rel="stylesheet" href="css/Clock.css">
<script src="js/angular.min.js"></script>
<script src="js/ClockControlsCtrl.js"></script>

<body ng-app="Clock" ng-controller="ClockControlsCtrl">
    <input type="text" ng-model="seconds">
    <button ng-click="arm(seconds)">Arm</button>
    <button ng-click="start()">Start</button>
    <button ng-click="stop()">Stop</button>
    <button ng-click="playPause()">Pause</button>
    <button ng-click="mode()">Toggle tenths</button>
</body>