.settings {
	height: 10vh;
	position: absolute;
	top: 0;
	left: 0;
}

.settings > .large.button {
	font-size: 5vh;
}

.settings .close-button {
    color: white;
}

.settings .reveal-overlay {
	overflow-y: hidden;
}

.settings .reveal {
    background: dimgrey;
}